container_commands:
  01setupout:    
    command: "mkdir /home/ec2-user/twit-candi-2016"
  02setuphrc:    
    command: "mkdir /home/ec2-user/twit-candi-2016/hrc"
  03setupfio:    
    command: "mkdir /home/ec2-user/twit-candi-2016/fiorina"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TC_OUTF
    value: "hrc,fiorina"
  - option_name: TC_USEHASH
    value: "TRUE,TRUE"
  - option_name: TC_USENONHASH
    value: "TRUE,TRUE"
  - option_name: TC_WORDS
    value: "hillaryclinton,hillary_clinton,hillary2016 fiorina,carly2016"