packages:
  yum:
    oauthlib: '0.7.2'
    requests: '2.7.0'
    requests-oauthlib: '0.5.0'
    six: '1.9.0'
    tweepy: '3.3.0'
    wheel: '0.24.0'

container_commands:
  setuphrc:    
    command: "mkdir ~/twit-candi-2016/hrc"
  setupfio:    
    command: "mkdir ~/twit-candi-2016/fiorina"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TC_OUTF
    value: "hrc,fiorina"
  - option_name: TC_USEHASH
    value: "TRUE,TRUE"
  - option_name: TC_USENONHASH
    value: "TRUE,TRUE"
  - option_name: TC_WORDS
    value: "hillaryclinton,hillary_clinton,hillary2016 fiorina,carly2016"